schema/adjoint_sw_sediment.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="">
  <include href="spud_base.rng"/>
  <start>
    <element name="adjoint_sw_sediment">
      <element name="project_name">
        <a:documentation>Model output files are named according to the project
name, e.g. [simulation_name]_0.png. Non-standard
characters in the project name should be avoided.</a:documentation>
        <ref name="anystring"/>
      </element>
      <element name="mesh">
        <a:documentation>Options dealing with the specification of the mesh</a:documentation>
        <optional>
          <element name="element_count">
            <a:documentation>The number of elements, default = 20</a:documentation>
            <ref name="integer"/>
          </element>
        </optional>
      </element>
      <element name="time_options">
        <a:documentation>Options dealing with the specification of the time discretisation</a:documentation>
        <ref name="time_discretisation_choice">
          <a:documentation>time discretisation choice</a:documentation>
        </ref>
        <optional>
          <element name="start_time">
            <a:documentation>start time, default = 0.0</a:documentation>
            <ref name="real"/>
          </element>
        </optional>
        <element name="timestep">
          <a:documentation>timestep</a:documentation>
          <ref name="real"/>
        </element>
        <optional>
          <element name="adaptive_timestep">
            <a:documentation>adaptive timestep</a:documentation>
            <optional>
              <element name="adapt_initial_timestep">
                <empty/>
              </element>
            </optional>
            <element name="cfl_criteria">
              <ref name="real"/>
            </element>
          </element>
        </optional>
        <choice>
          <element name="finish_time">
            <a:documentation>time marching simulation</a:documentation>
            <ref name="real"/>
          </element>
          <element name="steady_state_tolerance">
            <a:documentation>steady state simulation - precribe tolerance</a:documentation>
            <ref name="real"/>
          </element>
        </choice>
      </element>
      <element name="output_options">
        <optional>
          <!-- plot results -->
          <element name="plotting">
            <!-- plot results as they are calculated -->
            <element name="plotting_interval">
              <ref name="real"/>
            </element>
            <ref name="plotting_choice"/>
            <optional>
              <element name="dimensionalise_plots">
                <element name="g_prime">
                  <ref name="real"/>
                </element>
                <element name="h_0">
                  <ref name="real"/>
                </element>
                <element name="phi_0">
                  <ref name="real"/>
                </element>
              </element>
            </optional>
          </element>
        </optional>
      </element>
      <!-- spatial discretisation -->
      <element name="spatial_discretisation">
        <choice>
          <!-- plot results as they are calculated -->
          <element name="discretisation">
            <attribute name="name">
              <value>discontinuous</value>
            </attribute>
            <optional>
              <element name="slope_limit">
                <empty/>
              </element>
            </optional>
          </element>
          <!-- save plots to file -->
          <element name="discretisation">
            <attribute name="name">
              <value>continuous</value>
            </attribute>
          </element>
        </choice>
        <optional>
          <!-- order of polynomials, default = 1 -->
          <element name="polynomial_degree">
            <ref name="integer"/>
          </element>
        </optional>
      </element>
      <element name="non_dimensional_numbers">
        <a:documentation>Specify values for non-dimensional parameters</a:documentation>
        <optional>
          <element name="Fr">
            <a:documentation>Current front Froude number, default = 1.19</a:documentation>
            <ref name="real"/>
          </element>
        </optional>
        <optional>
          <element name="beta">
            <a:documentation>Non-dimensional settling velocity, default = 5e-3</a:documentation>
            <ref name="real"/>
          </element>
        </optional>
      </element>
      <element name="initial_conditions">
        <a:documentation>Options dealing with the specification of initial conditions</a:documentation>
        <optional>
          <element name="initial_length">
            <a:documentation>The non-dimensionalised initial length of the current, default=1.0</a:documentation>
            <ref name="anystring"/>
            <optional>
              <element name="override">
                <empty/>
              </element>
            </optional>
          </element>
        </optional>
        <optional>
          <element name="height">
            <a:documentation>C code, or python that returns C code as a string, for expression describing 
the initial height of the current, default=1.0</a:documentation>
            <ref name="c_string_choice"/>
            <optional>
              <element name="override">
                <empty/>
              </element>
            </optional>
          </element>
        </optional>
        <optional>
          <element name="momentum">
            <a:documentation>C code, or python that returns C code as a string, for expression describing 
the initial momentum of the current, default=0.0</a:documentation>
            <ref name="c_string_choice"/>
            <optional>
              <element name="override">
                <empty/>
              </element>
            </optional>
          </element>
        </optional>
        <optional>
          <element name="volume_fraction">
            <a:documentation>C code, or python that returns C code as a string, for expression describing 
the initial volume fraction of the current, default=1.0</a:documentation>
            <ref name="c_string_choice"/>
            <optional>
              <element name="override">
                <empty/>
              </element>
            </optional>
          </element>
        </optional>
        <optional>
          <element name="deposit_depth">
            <a:documentation>C code, or python that returns C code as a string, for expression describing 
the initial deposited sediment, default=0.0</a:documentation>
            <ref name="c_string_choice"/>
            <optional>
              <element name="override">
                <empty/>
              </element>
            </optional>
          </element>
        </optional>
        <optional>
          <element name="front_velocity">
            <a:documentation>C code, or python that returns C code as a string, for expression describing 
the initial frontal velocity, default=0.0</a:documentation>
            <ref name="c_string_choice"/>
            <optional>
              <element name="override">
                <empty/>
              </element>
            </optional>
          </element>
        </optional>
        <optional>
          <element name="variables">
            <oneOrMore>
              <element name="var">
                <attribute name="name">
                  <data type="string"/>
                </attribute>
                <element name="code">
                  <ref name="python_code"/>
                </element>
              </element>
            </oneOrMore>
          </element>
        </optional>
      </element>
      <optional>
        <element name="testing">
          <a:documentation>Test specific options - only enable when testing</a:documentation>
          <ref name="test_choice"/>
        </element>
      </optional>
    </element>
  </start>
  <define name="c_string_choice">
    <choice>
      <element name="c_string">
        <ref name="anystring"/>
      </element>
      <element name="python">
        <ref name="python_code"/>
      </element>
    </choice>
  </define>
  <define name="time_discretisation_choice">
    <choice>
      <element name="time_discretisation">
        <attribute name="name">
          <value>crank_nicholson</value>
        </attribute>
      </element>
      <element name="time_discretisation">
        <attribute name="name">
          <value>explicit</value>
        </attribute>
      </element>
      <element name="time_discretisation">
        <attribute name="name">
          <value>implicit</value>
        </attribute>
      </element>
    </choice>
  </define>
  <define name="test_choice">
    <choice>
      <element name="test">
        <attribute name="name">
          <value>mms</value>
        </attribute>
        <element name="source_terms">
          <a:documentation>Options dealing with the specification of source terms in mms test</a:documentation>
          <element name="height_source">
            <a:documentation>C code, or python that returns C code as a string, for expression describing 
the height source term</a:documentation>
            <ref name="c_string_choice"/>
          </element>
          <element name="momentum_source">
            <a:documentation>C code, or python that returns C code as a string, for expression describing 
the momentum source term</a:documentation>
            <ref name="c_string_choice"/>
          </element>
          <element name="volume_fraction_source">
            <a:documentation>C code, or python that returns C code as a string, for expression describing 
the volume fraction source term</a:documentation>
            <ref name="c_string_choice"/>
          </element>
          <element name="deposit_depth_source">
            <a:documentation>C code, or python that returns C code as a string, for expression describing 
the deposit depth source term</a:documentation>
            <ref name="c_string_choice"/>
          </element>
        </element>
      </element>
      <element name="test">
        <attribute name="name">
          <value>similarity</value>
        </attribute>
      </element>
      <element name="test">
        <attribute name="name">
          <value>dam_break</value>
        </attribute>
      </element>
    </choice>
  </define>
  <define name="plotting_choice">
    <choice>
      <!-- plot results as they are calculated -->
      <element name="output">
        <attribute name="name">
          <value>live_plotting</value>
        </attribute>
      </element>
      <!-- save plots to file -->
      <element name="output">
        <attribute name="name">
          <value>save_plots</value>
        </attribute>
      </element>
      <!-- save plots to file -->
      <element name="output">
        <attribute name="name">
          <value>both</value>
        </attribute>
      </element>
    </choice>
  </define>
</grammar>
